body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

.container {
  height: 100%;
}

#map {
  height: 100%;
  width: 80%;
  position: absolute;
}

.sidebar {
  height: 100%;
  width: 20%;
  left: 80%;
  position: absolute;
  padding: 2%;
  overflow: auto;
  box-sizing: border-box;
  background-color: #cccccc;
}

p {
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

.sidebarIcon {
  width: 15px;
  vertical-align: middle;
}
